/* semantic color variables for this project */
:root {
  --color-background: #151515;
  --color-background-soft: #191919;

  --color-primary: #d7273d;

  --color-text: #fff;

  --section-gap: 80px;

  --text-size: 18px
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: #fff;
  text-decoration: none;
}

ul{
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.35;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

small{
  line-height: 1;
}

.xl-font{
  font-size: 48px;
}
.lg-font{
  font-size: 32px;
}
.md-font{
  font-size: 24px;
}
.sm-font{
  font-size: 14px;
}

@media screen and (max-width: 425px){
  :root {  
    --text-size: 14px
  }

  body{
    font-size: 14px;
  }
}
