@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@300;400;500;600&display=swap');
@import "./base.css";

.container{
    padding-left: 30px;
    padding-right: 30px;
}
.section{
    width: 100%;
    position: relative;
}
.section-screen{
    margin-bottom: 100px;
}
.section-hero{
    width: 100%;
    background-color: var(--color-background-soft);
    padding: 40px 60px;
    border-radius: 15px;
}
.btn{
    appearance: none;
    display: block;
    border: none;
    outline: none;
    color: var(--color-text);
    cursor: pointer;
}
.primary-btn{
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: color .2s ease, background-color .2s ease;
    font-weight: 600;
    border-radius: 5px;
}
.primary-btn:hover{
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
.primary-btn:active{
    background-color: var(--color-primary);
    color: #fff;
    border: 1px solid var(--color-primary);
}
.disable{
    cursor: default;
    background-color: var(--color-background-soft);
    border-color: var(--color-background-soft);
}
.disable:hover{
    background-color: var(--color-background-soft);
    color: #fff;
    border: 1px solid var(--color-background-soft);
}
.disable:active{
    color: #fff;
    border: 1px solid var(--color-background-soft);
}

.save-btn{
    background-color: var(--color-save);
    border: 1px solid var(--color-save);
    transition: color .2s ease, background-color .2s ease;
    font-weight: 600;
    border-radius: 5px;
}
.save-btn:hover{
    background-color: transparent;
    color: var(--color-save);
    border: 1px solid var(--color-save);
}
.save-btn:active{
    background-color: var(--color-save);
    color: #fff;
    border: 1px solid var(--color-save);
}